@import "../mixins.less";
@import "../base.less";
@import "../iconfont.less";
@import "../loading.less";
.hidden{
    display: none!important;
}
body{
    background-color: #f3f5f9;
}
.page {
    width: 10rem;
    min-height: 100%;
    position: absolute;
    margin: 0 auto;
    text-align: left;
    background-color: #f3f5f9;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    ._header {
        position: fixed;
        width: 10rem;
        padding-top: 37px;
        line-height: 96px;
        height: 130px;
        color: #fff;
        overflow: hidden;
        background-color: #40c1ac;
        box-sizing: border-box;
        i.icon-back {
            float: left;
            font-size: 34px;
            margin-top: -4px;
            margin-left: 20px;
        }

        .growTitle {
            font-size: 36px;
            text-align: center;
            padding: 0px 140px;
        }
        a.J_edit {
            position: absolute;
            font-size: 28px;
            right: 30px;
            top: 40px;
        }
        a.bracket{
            font-size: 22px;
        }
        span.J_confirm,.J_createPdf {
            position: absolute;
            height: 40px;
            font-size: 24px;
            right: 30px;
            top: 64px;
            line-height: 38px;
            padding: 0px 12px;
            border-radius: 28px;
            border: 1px solid #fff;
            box-sizing: border-box;
        }
    }
}

.recordPanel{
    position: relative;
    transition: 0.3s left 0s ease;
    left: 0;
    &.move{
        left: -100%;
    }
}

.noContent{
    position: absolute;
    top: 550px;
    left: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    transform: translateX(-50%);
    .noIcon{
        height: 140px;
        width: 215px;
        margin: 0 auto;
        background: url('../../images/grow/empty.png') no-repeat;
        background-size: contain;
    }

    .notmessage{
        color: #999;
        font-size: 26px;
        margin-top: 30px;
    }
}

.recordsListBox{
    .recordsList{
        width: 100%;
        border-collapse: collapse;
        &.confirmRecords{
            .icon_choosedRadio{
                display: none;
            }
        }
        tr{
            &.selected{
                background-color: #f8f8f8;
                .icon_choosedRadio{
                    color: red;
                }
            }
            .c1{
                box-sizing: border-box;
                width: 136px;
                padding: 20px 24px;
                img{
                    width: 88px;
                    height: 88px;
                    display: block;
                    border-radius: 50%;
                }
            }

            .c2{
                padding: 20px 0px;
                border-bottom: 1px solid #ededed;
                .recordContent{
                    color: #333;
                    font-size: 30px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-height: 48px;
                    max-height: 96px;
                    overflow: hidden;
                    word-break: break-all;
                    word-wrap: break-word;
                }
                .datetime{
                    color: #999;
                    font-size: 24px;
                    margin-top: 10px;
                }
            }

            .c3{
                width: 165px;
                padding: 20px 0px 20px 15px;
                text-align: right;
                vertical-align: top;
                border-bottom: 1px solid #ededed;
                .describtion{
                    color: #666;
                    font-size: 28px;
                    margin-bottom: 8px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-height: 44px;
                    max-height: 88px;
                    overflow: hidden;
                }
            }

            .c4{
                width: 24px;
            }

            .icon_choosedRadio{
                color: #999;
                font-size: 48px;
            }
        }
    }
}
.growRecordPage{
    .swiperCategory{
        position: fixed;
        width: 10rem;
        top: 130px;
        overflow: hidden;
        margin-bottom: 28px;
        background-color: #fff;
        .categoryList{
            white-space: nowrap;
            text-align: left;
            border-bottom: 1px solid #ededed;
            li{
                box-sizing: border-box;
                display: inline-block;
                height: 80px;
                line-height: 60px;
                padding: 10px 30px;
                border-bottom: 6px solid #fff;
                &.selected{
                    color: #40c1ac;
                    border-bottom: 6px solid #40c1ac;
                }
            }
            .empty-slide{
                width: 190px;
                display: inline-block;
            }
        }
    }
    .recordsList.recordsPageList{
        margin-top: 230px;
        background-color: #fff;
    }
    .J_selectAll{
        position: fixed;
        padding-right: 10px;
        bottom: 150px;
        color: #fff;
        box-sizing: border-box;
        text-align: center;
        width: 178px;
        height: 90px;
        line-height: 88px;
        font-size: 42px;
        background-color: #ff7937;
        border-radius: 0 50px 50px 0;
    }
}

.achievementPage{
    left: 100%;
    .basicInfo{
        position: fixed;
        z-index: 4;
		top: 0;
		left: 0;
        height: 420px;
        padding-bottom: 50px;
        background: url('../../images/grow/achievemt_back.png') no-repeat;
        background-size: contain;
        box-sizing: border-box;
        text-align: center;
        font-size: 30px;
        color: #fff;
        ._header{
            position: static;
            background-color: transparent;
        }
        .subTitle{
            font-size: 30px;
            margin-top: 20px;
        }
        table.userDetail {
            width: 540px;
            margin: 40px auto 0 auto;
            .line1{
                font-size:30px;
                line-height: 46px;
            }
            .line2{
                font-size:24px;
                line-height: 44px;
            }
            td{
                width: 180px;
            }
            .studentname{
                width: 200px;
                height: 44px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .majorDetail{
        color: #333;
        background-color: #fff;
        font-size: 28px;
        padding: 24px 20px;
        margin-top: 444px;
        .majorTable{
            width: 100%;
            tr{
                line-height:52px;
            }
            td{
                width: 50%;
            }
        }
    }

    .workExperience{
        .recordsCategoryItem{
            margin-top: 24px;
            background-color: #fff;
            .experHeader{
                overflow: hidden;
                box-sizing: border-box;
                height: 82px;
                padding: 16px 0px;
                line-height: 50px;
                margin: 0px 25px;
                border-bottom: 1px solid #ededed;
                .experTitle{
                    color: #333;
                    float: left;
                    line-height: 28px;
                    padding-left: 25px;
                    margin-top: 10px;
                    border-left: 6px solid #40c1ac;
                    font-size: 30px;
                }
                .J_addRecord{
                    color: #40c1ac;
                    float: right;
                    font-size: 26px;
                }
            }

            .createPdfRecords{
                width: 100%;
                overflow: hidden;
                border-collapse: collapse;
                li{
                    position: relative;
                    display: -webkit-box;
                    transition: left 0.2s ease-in 0s;
                    &.deleted{
                        left: -100px;
                    }
                    &.selected{
                        background-color: #f8f8f8;
                        .icon_choosedRadio{
                            color: red;
                        }
                    }
                    .c1{
                        box-sizing: border-box;
                        width:136px;
                        padding: 20px 24px;
                        img{
                            width: 88px;
                            height: 88px;
                            display: block;
                            border-radius: 50%;
                        }
                    }

                    .c2{
                        padding: 20px 0px;
                        -webkit-box-flex: 1;
                        border-bottom: 1px solid #ededed;
                        .recordContent{
                            color: #333;
                            font-size: 30px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            line-height: 48px;
                            max-height: 96px;
                            overflow: hidden;
                            word-break: break-all;
                            word-wrap: break-word;
                        }
                        .datetime{
                            color: #999;
                            font-size: 24px;
                            margin-top: 10px;
                        }
                    }

                    .c3{
                        width: 165px;
                        padding: 20px 0px 20px 15px;
                        text-align: right;
                        vertical-align: top;
                        border-bottom: 1px solid #ededed;
                        .describtion{
                            color: #666;
                            font-size: 28px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            line-height: 44px;
                            max-height: 88px;
                            overflow: hidden;
                        }
                    }

                    .c4{
                        width: 24px;
                    }

                    .removeItem {
                        position: absolute;
                        color: #fff;
                        width: 110px;
                        height: 100%;
                        background-color: red;
                        display: -webkit-box;
                        -webkit-box-align: center;
                        -webkit-box-pack: center;
                    }
                }
            }

        }
    }
}


.remarkComponent{
    position: relative;
    width: 500px;
    height: 360px;
    overflow: hidden;
    padding: 0px 40px;
    background: #fff;
    border-radius: 15px;
    .remarkLabel {
        line-height: 110px;
        font-size: 36px;
    }

    i.icon-closefill {
        position: absolute;
        top: -12px;
        right: 30px;
        color: #aaa;
        font-size: 42px;
    }

    textarea#remark {
        width: 100%;
        height: 95px;
        resize: none;
        outline: none;
        overflow: hidden;
        font-size: 28px;
        line-height: 45px;
        padding: 25px 0px 25px 20px;
        border-radius: 10px;
        background: #fafafd;
        border: 1px solid #efefef;
        -webkit-appearance: none;
    }
    button.confirmBtn {
        width: 100%;
        height: 80px;
        border: 0px;
        outline: none;
        line-height: 82px;
        color: #fff;
        overflow: hidden;
        margin-top: 20px;
        font-size: 30px;
        background-color: #40c1ac;
        &.disabled{
            opacity: 0.5;
            pointer-events: none;
        }
    }
}

